#content-box {
    margin: 10px;
    z-index: 400;
    width: 40rem;
    color: var(--text);
    font-size: 9pt;
    background-color: var(--background);
    font-family: var(--font);
    border-color: var(--accent);
    border-width: 2px;
    white-space: pre-wrap;
}

#card-body {
    margin-top: -15px;
}

#close-content-box {
    text-align: right;
    text-decoration: none;
    color: var(--secondary);
}

#show-more-button {
    text-decoration: none;
    color: var(--secondary);
    font-size: 8pt;
    padding: 0%;
    margin-top: -30px;
}

#show-more-collapse {
    font-size: 8pt;
}