#info-toast {
    width: 30rem;
    z-index: 600;
    position: relative;
    margin-top: 0px;
    margin-right: 10px;
    font-size: 10pt !important;
    background-color: var(--background) !important;
}

#hadi-span {
    background-color: var(--hadi);
    color: var(--background);
}
#hadi-button {
    background-color: var(--hadi);
    color: var(--background);
    border: none; 
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease; 
}

#hadi-button:hover {
    background-color: transparent; 
    color: var(--hadi);
    border: 1px solid var(--hadi);
}

#azar-button {
    background-color: var(--azar);
    color: var(--background);
    border: none; 
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease; 
}

#azar-button:hover {
    background-color: transparent; 
    color: var(--azar);
    border: 1px solid var(--azar);
}

#darya-button {
    background-color: var(--darya);
    color: var(--background);
    border: none; 
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease; 
}

#darya-button:hover {
    background-color: transparent; 
    color: var(--darya);
    border: 1px solid var(--darya);
}

#toast-icon {
    font-size: 1.3rem;
}